<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lindsay Classics - Premier destination for classic luxury items" />
    <title>Lindsay Classics</title>
    <script type="module" crossorigin src="/static/vite/assets/index-DgdBvZia.js"></script>
    <link rel="stylesheet" crossorigin href="/static/vite/assets/index-BFab2pvY.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>